@font-face {
    font-family: 'Gluon Light';
    src: url('./Assets/Fonts/Gluon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .homecard{
      position: relative;
      width: 400px;
      height: 500px;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
      inset 300px 0 50px rgba(0, 0, 0, 0.4);
      transform: perspective(2000px) rotateZ(0);
      transform-style: preserve-3d;
      transition: all 1s ease;
  }
  
  .homecover{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transform-origin: left;
      transform-style: preserve-3d;
      transition: all 1s ease;
  }
  
  .homecover img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
  }
  
  .homecover img:nth-child(1){
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  
  .homecover img:nth-child(2){
      transform: rotateY(180deg);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  
  .homecard:hover{
      /* transform: perspective(2000px) rotateZ(-10deg); */
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
      inset 20px 0 50px rgba(0, 0, 0, 0.4);
  }
  
  .homecard:hover .homecover{
      transform: rotateY(-135deg);
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
  }
  
  .homecontent{
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      color: #fff;
      background-color: black;
  }
  
  .homecontent h2{
      margin-bottom: 1rem;
  }

  .title {
    font-family: 'Gluon Light', sans-serif;
    margin-top: 10px;
    font-size: 18px;
    color: gold;
  }

  /* @media (max-width: 768px) {
    .homecard {
      width: 90%;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3),
      inset 10px 0 30px rgba(0, 0, 0, 0.3);
    }
  
    .homecover {
      border-radius: 10px;
    }
  
    .homecover img:nth-child(1),
    .homecover img:nth-child(2) {
      border-radius: 10px;
    }
  
    .homecontent {
      font-size: 14px;
      padding: 1rem;
    }
  
    .title {
      font-size: 16px;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .homecontent {
      font-size: 13px;
      padding: 0.8rem;
    }
  
    .title {
      font-size: 15px;
    }
  } */
  